autopep8==1.6.0
colorama==0.4.4
coloredlogs==15.0.1
colorlog==6.6.0
comtypes==1.1.11
cycler==0.11.0
fonttools==4.33.3
humanfriendly==10.0
kiwisolver==1.4.2
matplotlib==3.5.2
numpy==1.22.3
packaging==21.3
Pillow==9.1.0
pycodestyle==2.8.0
pyparsing==3.0.8
pyreadline3==3.4.1
pyserial==3.5
PySimpleGUI==4.59.0
python-dateutil==2.8.2
pywin32==304
pywinauto==0.6.8
six==1.16.0
toml==0.10.2
